.float {
    float:left;
}

img {
    border: 10px solid #E23832;
    padding:10px;
}

p {
    font-size:20px;
    line-height: 2rem;
    font-family: sans-serif;
    letter-spacing: .05rem;
    color:#333;
}

h1 {
    align-self:center;
    font-family: sans-serif;
    color:#555;
}

.content {
    margin-left:50px;
    float:left;
}

i {
    color:#444;
    font-size:30px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #E23832;
    margin: 2em 20px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    align-self:center;
    margin:0px;
    font-size:20px;
    font-family:sans-serif;
    color:#444;
    padding:30px 0px;
  }
  blockquote:before {
    color: #E23832;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    margin-left:2rem;
  }
  blockquote p {
    display: inline;
    margin-left:2rem;
  }