
<div class="container"><h1>Map Higher Level Functions</h1>
<p>A Higher Order Function is any function that returns a function when executed, takes a function as one or more of its arguments, 
    or both. If you have used any of the Array methods like map or filter, or passed a callback function to jQuery’s $.get, you have 
    already worked with Higher Order Functions.</p>
    
    <p>When you use Array.map, you provide a function as its only argument, which it applies to every element contained in the array.</p>
    
    <p>Higher order functions can also return a function. For example, you can make a function called multiplyBy that takes a number and 
    returns a function that multiplies another number you provide by the first number provided. You can use this approach to create a 
    multiplyByTwo function to pass to Array.map. This will give you the same result you saw above.</p>
    </div>
<router-outlet></router-outlet>