<div class="container">
    <h1>Promises</h1>
    <p>To understand what a <i><b>promise</b></i> is, we first must understand what a <i><b>proxy</b></i> is. A proxy, as defined in English, is: </p>
    <blockquote><i>"The authority to respresent someone else"</i></blockquote>

    <p> In terms of JavaScript, we can apply the same description the English language has provided for us. A proxy is
        an object that enables you to create a representation of another object.  This representation can then intercept and redefine fundamental
        operations for the other object. So, what does this mean for a promise?  Well, a promise is a proxy for an object that is not necessarily
        known when the promise is created.</p>
    <img src="https://1.bp.blogspot.com/-enABL0nGe_o/WVfnFP372ZI/AAAAAAAAAdI/DRyxjETrcQ07QxBQHbiT4FqkoOVrcb_OwCLcBGAs/s1600/Screen%2BShot%2B2017-07-01%2Bat%2B2.16.29%2BPM.png">
    <p>There are 3 "States" of promises:</p>
    <ul>
        <li><b>Pending:</b> Initial state, neither fulfilled nor rejected.</li>
        <li><b> Fulfilled: </b>Meaning that the operation completed successfully.</li>
        <li><b>Rejected:</b> Meaning that the operation failed.</li>
    </ul>
    <p>The promise is the stand in for a future object, a fulfilled object, or rejected object that is caught via .catch</p>
</div>



<router-outlet></router-outlet>